* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
.Header {
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
a {
  color: white;
  text-decoration: none;
}
.Header-link {
  display: flex;
  gap: 20px;
}
.mainheader {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
  padding-bottom: 20px;
}
.left-header {
  width: 30vw;
}
.website {
  font-size: 48px;
  font-weight: 900;
}
.head-desp {
  font-size: 18px;
}
.head-but {
  color: white;
  background-color: #3882f6;
  border: 2px solid white;
  margin-top: 20px;
}
.right-header img {
  width: 30vw;
  border: 2px solid white;
}
.head {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  padding-top: 20px;
  padding-bottom: 20px;
}
.info {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}
.paragraph {
  display: flex;
  justify-content: center;
}
.para {
  background-color: #e5e7eb;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}
.para0 {
  width: 40vw;
}

.para2 {
  text-align: end;
}
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
}
.action1 {
  background-color: #3882f6;
  border-radius: 8px;
  height: 100px;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 50px;
}
.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f2937;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
